*.csproj
*.sln
*.userprefs
.vs
obj
Temp
Library
[Bb]uild
[Bb]uilds
.idea/


ContentBuilder/content/
ContentBuilder/output/
ContentBuilder/scripts/
ContentBuilder/builder/logs/
ContentBuilder/builder/config/
ContentBuilder/builder/userdata/*/config/*
